In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('Data_Set_new.csv')
df.head()

C:\Users\Acer\AppData\Local\Temp\ipykernel_13328\3463590465.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Data_Set_new.csv')

,folder,file_name,frame,x0,y0,z0,x1,y1,z1,x2,...,z17,x18,y18,z18,x19,y19,z19,x20,y20,z20
0,Bad|නරක|கேடு,Bad_001.mov,0,0.754874,0.593238,-0.0,0.728845,0.576129,0.003273,0.715084,...,-0.006695,0.743288,0.504519,-0.01027,0.735545,0.491843,-0.008838,0.729359,0.48136,-0.005815
1,Bad|නරක|கேடு,Bad_001.mov,1,0.751022,0.588273,-0.0,0.726419,0.573204,0.003378,0.713417,...,-0.002405,0.744479,0.503297,-0.006169,0.738191,0.490156,-0.005302,0.733122,0.479161,-0.002118
2,Bad|නරක|கேடு,Bad_001.mov,2,0.748598,0.585483,-0.0,0.724527,0.571648,0.002816,0.71226,...,-0.0006,0.745371,0.502188,-0.004016,0.739177,0.489132,-0.003639,0.734045,0.478545,-0.001013
3,Bad|නරක|கேடு,Bad_001.mov,3,0.747289,0.585117,-0.0,0.723816,0.57102,0.002904,0.711545,...,-0.00085,0.745928,0.50223,-0.004194,0.739801,0.488774,-0.004021,0.734793,0.478225,-0.00165
4,Bad|නරක|கேடு,Bad_001.mov,4,0.745894,0.586706,-0.0,0.723151,0.572439,0.002437,0.710889,...,-0.002248,0.745448,0.502775,-0.005403,0.73978,0.488957,-0.004956,0.735341,0.478275,-0.002497

In [6]:
print (f"Rows: {df.shape[0]}, Colums: {df.shape[1]}")
df.info()

Rows: 38210, Colums: 66
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38210 entries, 0 to 38209
Data columns (total 66 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   folder     38210 non-null  object
 1   file_name  38210 non-null  object
 2   frame      38210 non-null  object
 3   x0         38210 non-null  object
 4   y0         38210 non-null  object
 5   z0         38210 non-null  object
 6   x1         38210 non-null  object
 7   y1         38210 non-null  object
 8   z1         38210 non-null  object
 9   x2         38210 non-null  object
 10  y2         38210 non-null  object
 11  z2         38210 non-null  object
 12  x3         38210 non-null  object
 13  y3         38210 non-null  object
 14  z3         38210 non-null  object
 15  x4         38210 non-null  object
 16  y4         38210 non-null  object
 17  z4         38210 non-null  object
 18  x5         38210 non-null  object
 19  y5         38210 non-null  object
 20  z5         38210 non-null  object
 21  x6         38210 non-null  object
 22  y6         38210 non-null  object
 23  z6         38210 non-null  object
 24  x7         38210 non-null  object
 25  y7         38210 non-null  object
 26  z7         38210 non-null  object
 27  x8         38210 non-null  object
 28  y8         38210 non-null  object
 29  z8         38210 non-null  object
 30  x9         38210 non-null  object
 31  y9         38210 non-null  object
 32  z9         38210 non-null  object
 33  x10        38210 non-null  object
 34  y10        38210 non-null  object
 35  z10        38210 non-null  object
 36  x11        38210 non-null  object
 37  y11        38210 non-null  object
 38  z11        38210 non-null  object
 39  x12        38210 non-null  object
 40  y12        38210 non-null  object
 41  z12        38210 non-null  object
 42  x13        38210 non-null  object
 43  y13        38210 non-null  object
 44  z13        38210 non-null  object
 45  x14        38210 non-null  object
 46  y14        38210 non-null  object
 47  z14        38210 non-null  object
 48  x15        38210 non-null  object
 49  y15        38210 non-null  object
 50  z15        38210 non-null  object
 51  x16        38210 non-null  object
 52  y16        38210 non-null  object
 53  z16        38210 non-null  object
 54  x17        38210 non-null  object
 55  y17        38210 non-null  object
 56  z17        38210 non-null  object
 57  x18        38210 non-null  object
 58  y18        38210 non-null  object
 59  z18        38210 non-null  object
 60  x19        38210 non-null  object
 61  y19        38210 non-null  object
 62  z19        38210 non-null  object
 63  x20        38210 non-null  object
 64  y20        38210 non-null  object
 65  z20        38210 non-null  object
dtypes: object(66)
memory usage: 19.2+ MB

In [7]:
df. describe(include='all')

,folder,file_name,frame,x0,y0,z0,x1,y1,z1,x2,...,z17,x18,y18,z18,x19,y19,z19,x20,y20,z20
count,38210,38210,38210,38210,38210,3.821000e+04,38210,38210,38210,38210,...,38210,38210,38210,38210,38210,38210,38210,38210,38210,38210
unique,381,1673,65,32345,32314,5.825000e+03,32336,32319,32324,32344,...,32363,32342,32325,32358,32342,32319,32359,32333,32330,32354
top,Drink|බොන්න|குடிக்கவும்,Whose_001.mov,11,0.267282635,0.514154017,1.020000e-07,0.256245464,0.487199843,-0.001521911,0.261224836,...,0.001249427,0.310178131,0.474844575,0.001864274,0.302753359,0.477120697,0.004990611,0.298378348,0.481491387,0.00764199
freq,200,100,1251,50,50,9.700000e+01,50,50,50,50,...,50,50,50,50,50,50,50,50,50,50

In [9]:
# Convert all columns to numeric where possible
df_numeric = df.apply(pd.to_numeric, errors='coerce')

# Check overall min and max
overall_min = df_numeric.min().min()
overall_max = df_numeric.max().max()

print("Overall Min:", overall_min)
print("Overall Max:", overall_max)

Overall Min: -0.192785859
Overall Max: 31.0